<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Login - NPC Tracker</title>
</head>
<body class="bg-dark text-light">
    <main id="content" role="main" class="container">
      <div class="container">
        <h1 class="my-4">⚔️ NPC Tracker</h1>
        <p class="lead">Keep all of your characters in one place.</p>
        <p>
          This tool lets you store the details of your non-player characters in one place. It is a simple tool that allows you to quickly 
          view and edit your characters, perfect for use when you are running a game.
        </p>
        <p>
          I am aware there are many other tools out there for Game and Dungeon Masters, however I created this as a personal project 
          to improve my web development skills and as a tool that fitted exactly what I find I need when running a game.
        </p>
        <p>
          You can view the full project on <a href="https://github.com/kolkko/npc-tracker">GitHub</a>.
        </p>
        <p class="lead">Maybe you are seeing this as a portfolio piece and are wondering what on earth NPCs are?</p>
        <p>
          No worries! When playing 
          table top role playing games, the person leading the game has to play the parts of many characters in the world. This usually
           involves some preparation and a lot of improvisation. It is useful to be able to keep track of these characters as campaigns 
           can last months or even years, so some reminder of what these characters know and what they sound like is useful, making the 
           game more consistent and immersive for the players.
        </p>
        <h3>
          <a href="/login"><button class="btn btn-primary btn-lg">Login</button></a>
        </h3>
      </div>
    </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>