{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="my-4">About</h1>
  <p class="lead">Keep all of your characters in one place.</p>
  <p>
    This tool lets you store the details of your non-player characters in one place. It is a simple tool that allows you to quickly 
    view and edit your characters, perfect for use when you are running a game.
  </p>
  <p>
    I am aware there are many other tools out there for Game and Dungeon Masters, however I created this as a personal project 
    to improve my web development skills and as a tool that fitted exactly what I find I need when running a game.
  </p>
  <p>
    You can view the full project on <a href="https://github.com/kolkko/npc-tracker">GitHub</a>.
  </p>
  <p class="lead">Maybe you are seeing this as a portfolio piece and are wondering what on earth NPCs are?</p>
  <p>
    No worries! When playing table top role playing games, the person leading the game has to play the parts of many characters in the world. This usually
      involves some preparation and a lot of improvisation. It is useful to be able to keep track of these characters as campaigns 
      can last months or even years, so some reminder of what these characters know and what they sound like is useful, making the 
      game more consistent and immersive for the players.
  </p>
</div>
{% endblock %}