{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="my-4">NPC Tracker</h1>
  <p class="lead">Keep all of your characters in one place.</p>
		<h3>
			<a href="https://dev-test-fsnd.eu.auth0.com/authorize?audience=npc-tracker&response_type=token&client_id=dvbXKtL4j4yu4JL3gQsWsws7BwFIlXPF&redirect_uri=http://127.0.0.1:5000/index"><button class="btn btn-primary btn-lg">Login</button></a>
			<a href="/about"><button class="btn btn-default btn-lg">About</button></a>
		</h3>
{% endblock content %}