{% extends 'base.html' %}
{% block title %}New Place{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">Add a new NPC</h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        {{ form.location(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="description">Description</label>
          {{ form.description(class_ = 'form-control', autofocus = true) }}
      </div>
    </div>
      <input type="submit" value="Add new Place" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}