{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% if data|length < 1 %}
  <p>The bag of NPC holding is empty.</p>
  {% else %}
  <table class="table text-light">
    <thead>
      <tr>
        <th>NPCs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Name: </b>{{ data.name }}</td>
      </tr>
      <tr>
        <td><b>Appearance: </b>{{ data.appearance }}</td>
      </tr>
      <tr>
        <td><b>Occupation: </b>{{ data.occupation }}</td>
      </tr>
      <tr>
        <td><b>Roleplaying: </b>{{ data.roleplaying }}</td>
      </tr>
      <tr>
        <td class="text-right">
          <a class="btn btn-info btn-sm" href="" role="button">Edit</a>
          <a class="btn btn-danger btn-sm" href="" role="button">Delete</a></td>
      </tr>
    </tbody>
  </table>
  {% endif %}

  <!-- <form action="/" method="POST">
    <div class="form-row">
      <div class="col-sm-10 my-1">
        <label for="newStuff" class="sr-only">New NPC:</label>
        <input type="text" class="form-control" name="name" id="newStuff" placeholder="Enter new stuff">
      </div>
      <div class="col-sm-2 my-1">
        <button type="submit" class="btn btn-primary btn-block">Add</button>
      </div>
    </div>
  </form> -->
</div>
{% endblock %}